---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/oauth/access_token?client_id=&client_secret=&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_client" "Missing client_id parameter."
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Missing client_id parameter.","type":"OAuthException","code":101,"fbtrace_id":"HR03SUJ2jmf"}}'
  recorded_at: Wed, 02 Nov 2016 11:38:35 GMT
recorded_with: VCR 3.0.3
